<!DOCTYPE html>
<html>

<head>
    <title>server</title>
    <script src="/public/jquery-3.4.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        //call server
        var socket = io('http://localhost:9000');
    </script>
    <script>
        $(document).ready(function() {});
    </script>
</head>

<body></body>

</html>