<!DOCTYPE html>
<html>

<head>
    <title>server</title>
    <script src="/public/jquery-3.4.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io('http://localhost:9000');

        socket.on('server-send-data', function(data) {
            $('noidung').append(data + '.');
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#MrA').click(function() {
                socket.emit('Client-send-data', '');
            });
        });
    </script>
</head>

<body>
    <p id="noidung"></p>
    <div id="MrA" click send></div>
</body>

</html>